<li class="nav-item dropdown">
    <a
        data-mdb-dropdown-init
        class="nav-link dropdown-toggle d-flex align-items-center"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        aria-expanded="false"
    >
        <%=image_tag current_user.profile_picture, size:"30x30",class:"rounded-circle" if current_user.profile_picture.attached? %>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li>
            
            <% # <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to t("navbar.profile"), user_path(current_user), class: "dropdown-item" %>
        </li>
        <li>
    
            <%= link_to t("navbar.settings"), edit_user_registration_path, class: "dropdown-item" %>
        </li>
        <li>
        
            <%= link_to t("navbar.logout"), destroy_user_session_path, class: "dropdown-item", method: :delete, data: { turbo_method: :delete, turbo_action: "replace" } %>
        </li>
    </ul>
</li>