<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
      <%= link_to image_tag("logo2.png", height: "50", alt: "MDB Logo", loading: "lazy", style: "margin-top: -1px;"), root_path, class: "navbar-brand me-2" %>

        <!-- Toggle button -->
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <%= link_to t("navbar.dashboard"), "#", class: "nav-link" %>
                </li>

                <% if user_signed_in? %>
                    <li class="nav-item">
                        <%= link_to t("navbar.users"), users_path, class: "nav-link" %>
                    </li>
                <% end %>
            </ul>
                <%=render "layouts/international"%>
             <!-- Language links -->
           
            <!-- Language links -->
            <!-- Left links -->
            <% if user_signed_in? %>
                <%= render "layouts/logged_in" %>
            <% else %>
             <div class="d-flex align-items-center">
                <%= link_to t("navbar.login"), new_user_session_path, class: "btn btn-link px-3 me-2", data: { 'mdb-ripple-init': true }, type: "button" %>

                <%= link_to t("navbar.signup"), new_user_registration_path, class: "btn btn-primary me-3", data: { mdb_ripple_init: true } %>

                <a data-mdb-ripple-init class="btn btn-dark px-3" href="https://github.com/mdbootstrap/mdb-ui-kit" role="button">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <% end %>

           
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->